<h3>
  <img src="{{imageUrl}}" alt="Image of {{congressperson.first_name}} {{congressperson.last_name}}" />
  {{member.title}} {{#link-to 'congressperson' congressperson.bioguide_id}}{{congressperson.first_name}} {{congressperson.last_name}}{{/link-to}}
</h3>
