<img class="image-full" src="{{imageUrl}}" alt="Image of {{congressPerson.first_name}} {{congressPerson.last_name}}" />

<h1>{{congressPerson.first_name}} {{congressPerson.last_name}}</h1>
<h4>State: {{congressPerson.state_name}}</h4>
<h4>Chamber: {{congressPerson.chamber}}</h4>
<h4>Party: {{congressPerson.party}}</h4>
<h4>Current Term: {{congressPerson.term_start}} ~ {{congressPerson.term_end}}</h4>
