{{stringy-json model}}
{{log model.committees}}
{{#each model.committees.results as |results|}}
  {{#each results.members as |member|}}
    {{stringy-json member}}
    <h3>{{#link-to 'congressperson' member.legislator.bioguide_id}}{{member.legislator.first_name}} {{member.legislator.last_name}}{{/link-to}}</h3>
  {{/each}}
{{/each}}
